/*

    COMPONENTS LIBRARY
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BLOCK
        2. LISTINGS
            2.1. ITEM LISTING
            2.2. BLOCK LISTING
                2.2.1 BLOCK OVERLAY
            2.3. ARTICLE LISTING
        3. CTA BUTTONS
    
    -------------------

*/


@import "config";



/* @group 1. BLOCK -------------------- */

.block {
    
}



/* @end */



/* @group 2. LISTINGS -------------------- */



    /* @group 2.1. ITEM LISTING -------------------- */

    .item_listing {
        list-style:none;
        margin-bottom:0;

        &,
        .item {
            @include clearfix();
        }

        .item {
            margin:0 0 20px 0;
            position:relative;
        }

        a {
            

            &:hover,
            &:focus {
                
            }
        }

        .item_meta {
            
        }
        .item_content {
            
        }

    } // .item_listing

    /* 2.2. BLOCK LISTING (Base: item_listing) -------------------- */

    .block_listing {
        margin-left:-20px;

        .item {
            background-color:#CCC;
            float:left;
            margin-left:20px;
            width:190px;
        }

        a {
            color:#000;
            display:block;
            text-decoration:none;

            &:hover,
            &:focus {
                background-color:#BBB;
            }
        }

        .item_meta {
            
        }
        .item_content {
            padding:0.625em 0.9375em 0.0625em; /* 10px 15px 1px */
        }

    } // .block_listing

        /* 2.2.1 BLOCK OVERLAY (Base: block_listing) -------------------- */

        .block_overlay {

            .item {
                
            }

            a {
                

                &:hover .item_content,
                &:focus .item_content {
                    opacity:1;
                }
            }

            .item_meta {
                
            }
            .item_content {
                //background-color:#CCC;
                opacity:0;
                position:absolute;
                bottom:0;
                top:0;
            }

        } // .block_overlay

        /* @end */

    /* @end */

    /* @group 2.3. ARTICLE LISTING (Base: item_listing) -------------------- */

    .article_listing {
        

        .item {
            border-bottom:1px solid #CCC;
            padding:10px 0;
        }

        img {
            padding-right:10px;
        }

        a {
            

            &:hover,
            &:focus {
                
            }
        }

        .item_meta,
        .item_content {
            float:left;
        }
        .item_meta {
            padding-right:20px;
            width:85px;
        }
        .item_content {
            width:505px;
        }

    } // .article_listing

    /* @end */



/* @end */



/* @group 3. CTA BUTTONS -------------------- */

.cta_button {
    clear:both;
    text-align:center;

    a,
    button {
        display:block;
        text-decoration:none;

        &:hover,
        &:focus {
            
        }
    } // .cta_button a, .cta_button button

} // .cta_button

/* @end */


