<li class="item">
    <div class="item_meta">
        <ul>
            <li class="date">
                <time datetime="2012-02-24">Feb 24, 2012</time>
            </li>
            <li class="comments">
                <a href=""><span>1</span> Comment</a>
            </li>
        </ul>
    </div> <!-- // .item_meta -->
    <div class="item_content">
        <h3><a href="">This is the title of an article or blog post</a></h3>
        <img class="left" src="/static/images/dev/dev.png" width="95" height="95" alt="" />
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div> <!-- // .item_content -->
</li>